@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">Assignment 6 - Gleison Dutra</h1>
        <p class="lead">Show Business application to manage Actors (and their medias), Shows and Episodes.<p>
    </section>

    <div class="row mt-5">
        <section class="col-md-6" aria-labelledby="whatILearned">
            <h2 id="whatILearned">I learned ...</h2>
            <p>On this workshop, I learned how to collect non-text media type from the user. We worked with different media types such as pdf document, several image extensions, video and audio files. I also learned how to set up a link so the user can easily download a pdf to their system after selecting to which folder that file should be saved.</p>
        </section>
        <section class="col-md-6" aria-labelledby="whatIStruggledWith">
            <h2 id="whatIStruggledWith">I struggled with ...</h2>
            <p>I struggled mainly with the CSS and styling my application. Specially when dealing with conditional rendering of elements, I had to make sure to present the user a consistent look through the application during their entire experience.</p>
        </section>
    </div>

    <div class="d-grid gap-2">
        <a href="https://gvieira-dutra-wa-web524-a6.azurewebsites.net/" class="btn btn-primary" role="button">Assignment 6 on Azure &raquo;</a>
    </div>


</main>